*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.search-form__textfield {
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: text;
  appearance: none;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  box-shadow: none;
  min-width: 225px;
  min-height: 27px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 9px;
}

.search-form__label {
  display: flex;
  gap: 3px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin: 2px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 90%;
  height: 90%;
  border: none;
  background-color: #fff;
}

input[type="checkbox"]:checked + span {
  outline: none;
}

.search-form__label-text {
  color: #fff;
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 2px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
}

.button {
  color: #fff;
  text-align: center;
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid currentColor;
  cursor: pointer;
}

.search-form__submit-button {
  min-width: 194px;
  height: 34px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button {
  display: block;
  width: 100%;
  min-height: 34px;
  margin-bottom: 1px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__accent {
  color: #545050;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.title {
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__list {
  overflow: auto;
  position: relative;
  display: grid;
  height: 298px;
  width: 399px;
}

.content__list::-webkit-scrollbar {
  width: 0;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  margin: 2px;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  border: none;
  background-color: #545050;
}

.content__video-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 107px;
}

.content__video-card:active {
  border: none;
  background-color: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 200px;
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  align-self: center;
  justify-self: end;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
